<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gmail.zerscroll"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Cakespress</name>

    <description>
        CAKEspress, es una dulce aplicación que te permitirá conectarte con tiendas de repostería, para comprar y calmar tus antojos más dulces y disfrutar de un rato más agradable en cualquier momento del día. 
    </description>

    <author href="https://build.phonegap.com" email="zerscroll@gmail.com">
        Sergio Lara y Jessica Fuentes
    </author>

    <icon src="icon.png" />

</widget>